body {
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 2, 56);
    height: 100vh;
}

h1 {
    font-size: 15rem;
}

.letter {
    transition: color 1000ms;
}